/* _header.scss */

@import 'variables';

header {
	position: relative;
	height: 70px;
	padding: 20px 50px;
	@include box-shadow(0, 2px, 9px, rgba(0,0,0,.35));
	z-index: 10;
	overflow: hidden;

	@media screen and (max-width: 768px) {
		height: auto;
	}

	@media screen and (max-width: 480px) {
		height: 67px;
		padding: 20px 0px;
		@include transition(175ms, all, ease-in-out);
	}

	&.open { height: 237px; }

	.header {
		max-width: 1180px;
		width: 95%;
		margin: 0 auto;
	}
}

.logo {
	display: block;
	width: 260px;
	height: 32px;
	background: url(../../images/carolina-oaks-logo.png) no-repeat;
	background-size: 258px auto;
	text-indent: -9999px;
	line-height: .9;

	@media screen and (max-width: 768px) {
		display: block;
		width: 100%;
		background-position: center top;
		text-align: center;
	}

	@media screen and (max-width: 480px) {
		display: block;
		width: 260px;
		margin: 0 auto 0 0;
		background-size: 210px auto;
		background-position: left 3px;
	}
}

nav {
	float: right;
	display: inline-block;
	vertical-align: top;

	@media screen and (max-width: 768px) {
		display: block;
		margin-top: 15px;
		text-align: center;
		float: none;
	}
	
	ul {
		display: inline-block;
		@include proxima;
		font-size: 14px;
		color: $blue;

		@media screen and (max-width: 480px) {
			width: 50%;
		}
	
		li {
			padding: 10px 11px;
			line-height: 0.7;
			border: {
				width: 2px;
				style: solid;
				color: #fff;
			}
			@include border-radius(3px);

			@media screen and (max-width: 480px) {
				display: block;
				border-bottom: 1px solid lighten($blue, 40%);

				&:last-child { border-bottom: none; }
			}
		}
	}
}

.mobile-menu-icon {
	display: none;
	position: absolute;
	padding: 5px 5px 6px 6px;
	top: 0;
	right: 5%;
	line-height: 1;
	font-size: 22px;
	color: $blue;
	border: 1px solid $blue;
	@include border-radius(2px);
	@include transform( translate3d(0px, 16px, 0) );
	@include transition(175ms, all, ease-in-out);
	cursor: pointer;

	@media screen and (max-width: 480px) { display: inline-block; }

	&.down {
		@include transform( translate3d(0,36px,0) );
		// @include border-radius(100%);
	}
}

.doctors {
	nav{
		li {
			&.selected { border-color: $yellow;
				
				@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
					border: none;
					border-bottom: 1px solid lighten($blue, 40%);	
					@include border-radius(0);
				}
				
				a, a:visited { color: $yellow;
					&:hover, &:focus { color: darken($yellow,10%); }
				}
			}
		}
	}

	.mobile-menu-icon {
		color: $yellow;
		border-color: $yellow;
	}
}

.care {
	nav{
		li {
			&.selected { border-color: $orange;

				@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
					border: none;
					border-bottom: 1px solid lighten($orange, 40%);	
					@include border-radius(0);
				}

				a, a:visited { color: $orange;
					&:hover, &:focus { color: darken($orange,10%); }
				}
			}
		}
	}

	.mobile-menu-icon {
		color: $orange;
		border-color: $orange;
	}
}

.locations {
	nav{
		li {
			&.selected { border-color: $blue;

				@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
					border: none;
					border-bottom: 1px solid lighten($blue, 40%);	
					@include border-radius(0);
				}

				a, a:visited { color: $blue;
					&:hover, &:focus { color: darken($blue,10%); }
				}
			}
		}
	}

	.mobile-menu-icon {
		color: $blue;
		border-color: $blue;
	}
}