/* _home.scss */

@import 'variables';

.home {
	.hero {
		position: relative;
		background: url(../../images/doctor.jpg) no-repeat top center;
		background-size: cover;
		height: 525px;
		z-index: 0;
		box-shadow: inset 0 2px 9px rgba(0, 0, 0, 0.35);
		
		@media screen and (max-width: 700px) {
			height: 325px;
		}
	}

}

.banner {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -237.5px;
	width: 475px;
	text-align: center;
	background: $blue;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);

	@media screen and (max-width: 768px) {
		position: relative;
		width: 100%;
		margin-left: 0;
		left: auto;
		top: auto;
	}

	p {
		color: #fff;
		font-size: 1em;
		line-height: 2.5;
		font-weight: 300;

		@media screen and (max-width: 480px) {
			width: 80%;
			margin: 0 auto;
			padding: 9px 0;
			font-size: .8em;
			line-height: 1.2;
		}
	}
}

.factoid {
	position: absolute;
	width: 335px;
	height: 335px;
	top: 90px;
	right: 220px;
	text-align: center;
	background: rgba(255,255,255,.95);
	@include border-radius(100%);
	z-index: 25;
	@include transition(175ms, all, ease-in-out);

	@media screen and (max-width: 1024px) {
		right: 5%;
	}

	@media screen and (max-width:700px) {
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		padding-top: 19%;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 0;
		z-index: -1;
	}

	@media screen and (max-width: 480px) {
		// display: none;
		// width: 135px;
		// height: 135px;
	}

	h4 {
		width: 79%;
		margin: 90px auto 20px auto;
		color: $blue;
		font-size: 1em;
		@include roboto-cond;
		font-weight: 300;

		@media screen and (max-width: 700px) {
			margin: 0px auto 20px auto;
			font-size: 1.2em;
		}
	}

	hr {
		width: 107px;
		height: 1px;
		margin: 0 auto;
		border: none;
		background: $blue;
	}

	span {
		position: relative;
		top: -13px;
		font-size: 1.15em;
		color: $blue;
	}

	p {
		width: 77%;
		margin: 0 auto;
		font-size: .7em;
	}
}