@import 'variables';

.home {
	
	.hero {
		background: url(../../images/home-slider-01.jpg) no-repeat top center;
		background-size: cover;
		height: 525px;

		@media screen and (max-width: 700px) {
			height: 325px;
		}

		@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
			height: 180px;
		}
	}
	.description {
		margin: 0px 0 8px 0;
	}

	.banner {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -237.5px;
		width: 475px;
		text-align: center;
		background: $blue;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);

		@media screen and (max-width: 768px) {
			position: relative;
			width: 100%;
			margin-left: 0;
			left: auto;
			top: auto;
		}

		p {
			color: #fff;
			font-size: 1em;
			line-height: 2.5;
			font-weight: 300;

			a {
				color: white;
				font-weight: bolder;
				padding-bottom: 2px;
				border-bottom: 2px solid;
				@include transition(175ms, color, ease-in-out);

				&:hover {
					color: rgba(0,0,0,.5);
				}
			}

			@media screen and (max-width: 480px) {
				width: 80%;
				margin: 0 auto;
				padding: 9px 0;
				font-size: .8em;
				line-height: 1.2;
			}
		}
	}
}

.factoid {
	position: absolute;
	width: 335px;
	height: 335px;
	top: 90px;
	right: 220px;
	text-align: center;
	background: rgba(255,255,255,.95);
	@include border-radius(100%);
	z-index: 25;
	@include transition(175ms, right, ease-in-out);

	@media screen and (max-width: 1024px) {
		right: 5%;
	}

	@media screen and (max-width:700px) {
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		padding-top: 19%;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 0;
		z-index: -1;
	}

	.factoids-container {
		position: absolute;
		background: transparent;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
	}

	section {
		position: absolute;
		@include transition(175ms, all, ease-in-out);

		&.one {
			@include transform(translate3d(0px, 0px, 0px));
		}

		&.two {
			@include transform(translate3d(335px, 0px, 0px));
		}

		&.three {
			@include transform(translate3d(670px, 0px, 0px));
		}
	}

	h4 {
		width: 79%;
		margin: 90px auto 20px auto;
		color: $blue;
		font-size: 1em;
		@include roboto-cond;
		font-weight: 300;

		@media screen and (max-width: 700px) {
			margin: 0px auto 20px auto;
			font-size: 1.2em;
			line-height: 1.3;
		}
	}

	hr {
		width: 107px;
		height: 1px;
		margin: 0 auto;
		border: none;
		background: $blue;
	}

	span {
		&.left, &.right {
			position: absolute;
			width: 39px;
			height: 39px;
			top: 50%;
			margin-top: -19px;
			background: $blue;
			@include border-radius(100%);
			font-size: 1.05em;
			text-align: center;
			color: white;
			line-height: 2.1;
		}

		&.left { left: -16px; text-indent: -4px; }
		&.right { right: -16px; text-indent: 4px; }

		&.icon-acorn {
			position: relative;
			top: -12px;
			font-size: 1.15em;
			color: $blue;
		}
	}

	p {
		width: 77%;
		margin: 0 auto;
		font-size: .7em;
	}
}


.dots {
	position: absolute;
	bottom: 19px;
	width: 100%;
	text-align: center;

	div {
		display: inline-block;
		width: 9px;
		height: 9px;
		margin: 0 3px;
		background: $light-grey;
		@include border-radius(100%);

		&.filled { background: $orange; }
	}
}