/* _iphone-landscape.scss */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	
	body {
		font-size: 10px;
		line-height: 1.5;
	}	

	header {
		height: auto;
		padding: 10px 0px 10px 0px;

		&.open { height: 140px; }
	}

	.logo {
		height: 25px;
		background-size: 35% auto;
	}

	.mobile-menu-icon {
		font-size: 1em;
		@include transform( translate3d(0px, 6px, 0) );
	}

	nav {
		margin-top: 0;
		
		ul {
			width: 60%;
			font-size: .9em;

			li {
				padding: 7px;

				&.icon { padding: 7px; font-size: 1.8em; }
			}
		}
	}

	.home {
		.banner {
			p {
				width: 100%;
				padding: 8px 10px;
			}
		}
	}

	.hero { margin-top: 75px; }

	.banner {
		p {
			width: 90%;
			font-size: .9em;
		}
	}

	.doctors, .care, .locations {
		.banner {
			border: 1px solid white;
			p {
				width: 100%;
				padding: 8px 10px;
			}
		}

		.headline {
			span {
				float: left;
				width: 80px;
				height: 80px;
				margin-right: 10px;
				padding-top: 28px;
				font-size: 3em;
			}
		}

		.main-content {
			p, aside p { font-size: 1em; }

			.residents {
				p { font-size: 1em; &.title { font-size: .9em; }}
				img {
					width: 65px;
					height: 65px;
				}
			}

			ul {
				&.js-slides {
					width: 75%;
					height: 22px;

					span {
						right: 10px;
						top: 7px;
						width: 10px;
						height: 10px;
					}

					li{
						padding: 5px 10px;
					}
				}
			}

			.main {
				> .description { margin: 0 0 0px 0; }
				.description { line-height: 1.5; }	
			}
			
			hr { margin: 20px 0 15px 0; }

			aside {
				margin: 80px auto 0px auto;
				span {
					display: block;
					float: none;
					width: 65px;
					height: 65px;
					top: 0;
					left: 50%;
					margin: -50px 0 0 -32.5px;
					font-size: 2.75em;
					padding-top: 19px;
				}

				.title { margin: 20px 0 15px 0; }
				a.button {
					margin: 15px auto 10px auto;
					padding: 8px 10px;
				}
			}
		}
	}

	.factoid {
		padding-top: 15px;

		h4 { margin: 0px auto 10px auto; }
		span { top: -6px; }

		p { font-size: .8em; }
	}

	hr {
		&.square {
			height: 7px;
			background-size: 4px;
		}
	}

	.third-width {
		.description { margin: 0 0 10px 0; }
		.more-details { font-size: .8em; }
	}

	.empathy {
		p.cond {
			padding: 25px 0;
			font-size: 1.45em;
		}
	}

	section {

		&.half-width { margin-bottom: 10px; }
	}

	footer {

		p { font-size: 1em;
			&.cond { font-size: 1.3em; }
		}

		form {
			input[type='text'], input[type='tel'], textarea, #name, #email, #phone, #time-to-call {
				width: 49%;
				margin: 0 2% 2% 0;
				padding: 5px;
				font-size: 1em;
				&:nth-child(even) { margin-right: 0; }
			}

			input[type="submit"] { font-size: 1.1em; }
		}
	}

	.footer-nav { font-size: 1em; }
}