@import 'variables';

.care, .doctors, .locations {

	.banner {
		position: absolute;
		display: inline-block;
		right: 14px;
		top: 42px;
		background: transparent;
		border: {
			width: 3px;
			color: white;
			style: solid;
		}
		@include border-radius(3px);

		@media screen and (max-width: 768px) {
			display: block;
			position: relative;
			margin: 0 auto;
			top: 20px;
			right: auto;
			text-align: center;
		}

		p {
			padding: 20px 18px;
			line-height: .7;

			a {
				color: white;
				font-weight: bolder;
				padding-bottom: 2px;
				border-bottom: 2px solid;
				@include transition(175ms, color, ease-in-out);

				&:hover {
					color: rgba(0,0,0,.5);
				}
			}
		}

		@media screen and (max-width: 568px) {
			border: {
				width: 1px;
			}
			p {
				padding: 5px 18px;
				line-height: 1.3;
				font-size: 0.8em; 
			}
		}

	}

	.main-content {
		text-align: left;
		padding-bottom: 65px;

		ul {
			margin: 25px 0 55px 0;
			padding: 0;
			z-index: 0;

			@media screen and (max-width: 768px) {
				margin: 25px 0 25px 0;
			}

			@media screen and (max-width: 480px) {
				position: relative;
				width: 60%;
				margin: 25px auto;
				height: 39px;
				@include border-radius(2px);
				background: #EEE;
				overflow: hidden;
				@include transition(175ms, height, ease-in-out);
			}

			@media screen and (max-width: 320px) {
				width: 100%;
			}

			span {
				display: none;
				position: absolute;
				right: 10%;
				top: 12px;
				width: 14px;
				height: 14px;
				z-index: 100;

				&.js-hide-options {
					background: url(../../images/x.png) no-repeat center center;
					background-size: cover;

					&.js-show-options {
						background: url(../../images/arrow-down.png) no-repeat center center;
						background-size: cover;						
					}
				}

				@media screen and (max-width: 480px) { display: block; }
			}
			
			li {
				position: relative;
				margin-right: 28px;
				font-size: .77em;
				font-weight: 700;
				cursor: pointer;
				z-index: 50;

				&.show-menu {
					display: none;
					@media screen and (max-width: 480px) {
						display: block;
					}
				}

				@media screen and (max-width: 480px) {
					display: block;
					width: 85%;
					margin-right: 0;
					text-align: left;
					padding: 9px 0 9px 10%;
					@include transition(175ms, all, ease-in-out);
				}

				.tab {
					color: #959595;
					&:hover, &:focus { color: darken(#959595,10%); }
					&.selected { color: $orange; }
				}
			}
		}

		.description {
			font-size: 1em;
			line-height: 1.35;
		}

		hr {
			height: 2px;
			margin: 25px 0 30px 0;
			border: 0;
			background: $blue;
		}

		p {
			font-size: 13px;
			&.light {
				display: inline-block; font-size: 1em;
				@media screen and (max-width: 480px) {
					width: 100%;
					display: block;
				}
			}
		}

		.main {

			&.slide {
				display: none;

				.care & {
					margin-bottom: 2em;

					&:last-child { margin-bottom: 0; }
				}

				&.visible { display: block; }
			}

			.button {
				width: auto;
				margin-top: 3px;
				padding: 12px 30px;
				background: $orange;
				font-size: 18px;

				@media screen and (max-width: 900px) {
					display: block;
					float: none;
					width: 180px;
					margin-top: 15px;
				}

				@media screen and (max-width: 767px) {
					float: right;
					margin-top: 0;
					margin-right: 0;
					padding: 14px 30px;
					width: 200px;
				}

				@media screen and (max-width: 600px) {
					width: auto;
					padding: 14px 15px;
					font-size: 0.9em;
				}

				@media screen and (max-width: 480px) {
					float: none;
					display: block;
					width: 100%;
					margin: 20px auto;
				}
				
				&:hover, &:focus {
					background: darken($orange,10%); 
				}
			}

			@media screen and (max-width: 767px) {
				> .description {
					margin: 0px 0 60px 0;
				}
			}

			@media screen and (max-width: 767px) {
				> .description {
					margin: 0px 0 30px 0;
				}
			}
		}
	}
}

.care {
	.main-content {
		margin-top: 2em;
	}
	
	.js-slides {
		display: none;
	}
}

.doctors {

	.residents {
		min-height: 140px;
		margin: 0 0 3em 0;

		@media screen and (max-width: 767px) {
			margin: 0px 0;
		}
		
		&:first-child { margin-top: 0;}

		img {
			float: left;
			width: 140px;
			height: 140px;
			margin: 0 24px 0 0;
			@include border-radius(100%);
			vertical-align: middle;

			@media screen and (max-width: 768px) {
				width: 110px;
				height: 110px;
				margin: 0 15px 0 0;
			}
		}

		p {
			margin: 0;
			vertical-align: middle;

			@media screen and (max-width: 767px) {
				max-width: 80%;
				margin: 0 auto 0 0;
			}

			@media screen and (max-width: 480px) {
				// text-align: center;
				// margin: 10px auto 0 auto;
			}

			&.title, &.description {
				display: inline-block;
				margin: 30px 8px 0 0;

				@media screen and (max-width: 768px) {
					display: block;
					margin: 0px 8px 0 0;
				}

				@media screen and (max-width: 767px) {
					display: inline-block;
					margin: 30px 8px 0 0;
				}

				@media screen and (max-width: 480px) {
					// display: block;
					// margin: 10px auto 0 auto;
					// text-align: center;
				}
			}

			&.title {
				@media screen and (max-width: 480px) {
					// margin-top: 0;
				}
			}
		}

		&:nth-child(even) {
			text-align: right;

			@media screen and (max-width: 768px) {
				margin: 15px 0 15px 0px;
			}

			@media screen and (max-width: 480px) {
				margin: 0px;
			}

			img {
				float: right;
				margin: 0 0 0 24px;

				@media screen and (max-width: 768px) {
					margin: 0 0 0 15px;
				}
			}
			p {
				@media screen and (max-width: 767px) {
					margin: 0 0 0 auto;
				}

				&.title, &.description {
					margin: 30px 0 0 8px;

					@media screen and (max-width: 768px) {
						margin: 0px 0px 0 8px;
					}

					@media screen and (max-width: 767px) {
						margin: 30px 0 0 8px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.doctors {
		.residents, .residents:nth-child(even) {
			margin: 40px auto;
			img {
				float: none;
				display: block;
				width: 95px;
				height: 95px;
				margin: 0 auto;
			}

			p {
				text-align: center;
				margin: 10px auto 0 auto;
				&.title, &.description {
					display: block;
					margin: 10px auto 0 auto;
					text-align: center;
				}
				&.title { margin-top: 0; }
			}

		}
	}
}

.locations {

	.map {
	  position: relative;
	  height: 390px;
	  z-index: 10;
	  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	  	height: 180px;
	  }

	  @media screen and (max-width: 480px) {
	  	height: 275px;
	  }
	}

	.description {
		margin: 0px 0 35px 0;
	}

	.main-content {
		.main {
			&.slide {
				min-height: 350px;
			}
		}
	}

	aside {
		.description { margin: 0px 0 12px 0; }
	}

	.third-width {
		width: auto;
		margin: 0 40px 15px 0;

		&.long { min-width: 156px;
			@media screen and (max-width: 767px) { width: 25%; }
			@media screen and (max-width: 480px) { width: 40%; }
			@media screen and (max-width: 320px) { width: 100%; }
		}
		&.short { min-width: 0px;
			@media screen and (max-width: 767px) { width: 19%; }
			@media screen and (max-width: 480px) { width: 40%; }
			@media screen and (max-width: 320px) { width: 100%; }
		}

		@media screen and (max-width: 900px) { margin: 0 4% 15px 0; }
		@media screen and (max-width: 767px) { min-width: 25%; }
		@media screen and (max-width: 480px) { width: 40%; margin: 0 4% 35px 0; }
		@media screen and (max-width: 320px) { width: 100%; margin: 0 0 15px 0; }

		.entry {
			margin: 0 0 15px 0;

			.title { margin-top: 0; }

			&:last-child { margin: 0; }
		}

		a { display: block; }
	}
	
}