@import 'variables';

.care, .doctors, .locations {

	.banner {
		position: absolute;
		display: inline-block;
		right: 14px;
		top: 42px;
		background: transparent;
		border: {
			width: 3px;
			color: white;
			style: solid;
		}
		@include border-radius(3px);

		@media screen and (max-width: 768px) {
			display: block;
			position: relative;
			margin: 0 auto;
			top: 20px;
			right: auto;
			text-align: center;
		}

		p {
			padding: 20px 18px;
			line-height: .7;
		}
	}

	.main-content {
		text-align: left;
		padding-bottom: 65px;

		ul {
			margin: 25px 0 55px 0;
			padding: 0;

			@media screen and (max-width: 768px) {
				margin: 25px 0 25px 0;
			}
			
			li {
				margin-right: 28px;
				font-size: .77em;
				font-weight: 700;
				cursor: pointer;

				.tab {
					color: #959595;
					&:hover, &:focus { color: darken(#959595,10%); }
					&.selected { color: $orange; }
				}
			}
		}

		.description { font-size: 1em; line-height: 22px; }

		hr {
			height: 2px;
			margin: 25px 0 30px 0;
			border: 0;
			background: $blue;
		}

		p {
			font-size: 13px;
			&.light { display: inline-block; font-size: 1em; }
		}

		.main {

			&.slide {
				display: none;

				&.visible { display: block; }
			}

			.button {
				width: auto;
				margin-top: 3px;
				padding: 12px 30px;
				background: $orange;
				font-size: 18px;

				@media screen and (max-width: 768px) {
					float: none;
					margin-top: 15px;
				}
				
				&:hover, &:focus {
					background: darken($orange,10%); 
				}
			}

			@media screen and (max-width: 767px) {
				> .description {
					margin: 0px 0 60px 0;
				}
			}
		}
	}
}

.doctors {

	.residents {
		min-height: 140px;
		margin: 0;

		@media screen and (max-width: 767px) {
			margin: -40px 0;

		}
			&:first-child { margin-top: 0;}

		img {
			float: left;
			width: 140px;
			height: 140px;
			margin: 0 24px 0 0;
			@include border-radius(100%);
			vertical-align: middle;

			@media screen and (max-width: 768px) {
				width: 110px;
				height: 110px;
				margin: 0 15px 0 0;
			}
		}

		p {
			margin: 0;
			vertical-align: middle;

			@media screen and (max-width: 767px) {
				max-width: 80%;
				margin: 0 auto 0 0;
			}

			&.title, &.description {
				display: inline-block;
				margin: 30px 8px 0 0;

				@media screen and (max-width: 768px) {
					display: block;
					margin: 0px 8px 0 0;
				}

				@media screen and (max-width: 767px) {
					display: inline-block;
					margin: 30px 8px 0 0;
				}
			}
		}

		&:nth-child(even) {
			text-align: right;

			@media screen and (max-width: 768px) {
				margin: 15px 0 15px 0px;
			}

			img {
				float: right;
				margin: 0 0 0 24px;

				@media screen and (max-width: 768px) {
					margin: 0 0 0 15px;
				}
			}
			p {
				@media screen and (max-width: 767px) {
					margin: 0 0 0 auto;
				}

				&.title, &.description {
					margin: 30px 0 0 8px;

					@media screen and (max-width: 768px) {
						margin: 0px 0px 0 8px;
					}

					@media screen and (max-width: 767px) {
						margin: 30px 0 0 8px;
					}
				}
			}
		}
	}
}

.locations {

	.map {
	  position: relative;
	  height: 390px;
	  z-index: 10;
	  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	  	height: 180px;
	  }
	}

	.description {
		margin: 0px 0 35px 0;
	}

	aside {
		.description { margin: 0px 0 12px 0; }
	}

	.third-width {
		width: auto;
		margin: 0 40px 0 0;

		.entry {
			margin: 0 0 15px 0;

			&:last-child { margin: 0; }
		}

		a { display: block; }
	}
	
}