@import 'variables';

* {
	margin: 0;
	padding: 0;
	@include border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection { background: $blue;  color: white; }
::-moz-selection { background: $blue;  color: white; }

fieldset {
	-webkit-appearance: none;
	border: none;
}

input, textarea {
	-webkit-appearance: none;
  outline: none;
  outline-offset: 0px;
  border: 2px solid $blue;
	@include transition(175ms, all, ease-in-out);
	&:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; color: rgb(149, 149, 149) !important; }
  &:focus { background-color: white; border: 2px solid darken($blue,12%); }
  &::-webkit-input-placeholder { color: #959595; }
  &::-moz-placeholder { color: #959595; }
  &:-moz-placeholder { color: #959595; }
  &:-ms-input-placeholder { color: #959595; } 
}

.results {
	@include roboto-cond;
}

body {
	background: {
		color: #fff;
	}
	@include roboto;
	color: #555555;
	font-size: 18px;
	line-height: 1.45;
}

a, a:visited {
	color: $blue;
	text-decoration: none;
	&:hover, &:focus { color: darken($blue, 10%); text-decoration: none; }

	&.button {
		display: inline-block;
		width: 150px;
		margin-top: 25px;
		padding: 5px 0;
		font-weight: 700;
		color: #fff;
		text-align: center;
		@include border-radius(2px);

		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}

li {
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
}

hr {
	&.square {
		width: 100%;
		height: 15px;
		background: url(../../images/light-square-bg.png) repeat top left;
		background-size: 10px;
		border: none;
	}
}

p {
	&.cond {
		@include roboto-cond;
		font: {
			weight: 300;
		}
	}

	&.light {
		@include roboto;
		font-size: 1em;
		font-weight: 300;
		color: #959595;
		line-height: 1.25;
	}
}

.title {
	display: block;
	font-size: .69em;
	font-weight: 700;
	color: $orange;
	text-transform: uppercase;

	@media screen and (max-width: 767px) {
		margin-top: 14px;
	}

	@media screen and (max-width: 480px) {
		margin-top: 0px;
	}
}

.description {
	margin: 0px 0 25px 0;
	@include roboto-cond;
	font-weight: 400;
	color: $blue;

	@media screen and (max-width: 767px) {
		margin: 0px 0 30px 0;
	}

	@media screen and (max-width: 7320px) {
		font-size: .85em;
	}
}

.more-details {
	font-size: .7em;
}

.hero {
	position: relative;
	z-index: 0;
	box-shadow: inset 0 2px 9px rgba(0, 0, 0, 0.35);

	.care & {
		background: url(../../images/care-hero.jpg) no-repeat top center;
		background-size: cover;
		height: 390px;
		@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
			height: 180px;
		}
	}

	.doctors & {
		background: url(../../images/doctors-hero.jpg) no-repeat top center;
		background-size: cover;
		height: 390px;
		@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
			height: 180px;
		}
	}

	.locations & {
		height: 390px;
		@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
			height: 180px;
		}
	}
}

.wrapper {
	position: relative;
	width: 90%;
	max-width: 1180px;
	margin: 0 auto;
	color: white;
}

.headline {
	position: absolute;
	display: inline-block;
	max-width: 660px;
	width: 90%;
	top: 180px;
	left: 8%;

	@media screen and (max-width: 768px) {
		display: block;
		position: relative;
		width: 95%;
		margin: 90px auto 0 auto;
		top: 0;
		left: auto;
	}

	span {
		float: left;
		width: 141px;
		height: 141px;
		margin: 0 37px 0 0;
		padding-top: 44px;
		background: white;
		text-align: center;
		font-size: 3.1em;
		@include border-radius(100%);

		@media screen and (max-width: 768px) {
			margin: 0 20px 0 0;
		}

		.care & { color: $orange; }
		.doctors & { color: $yellow; }
	}

	p {
		
		&.title {
			font-weight: 700;
			font-size: 1em;
			color: white;
			line-height: 1;
			text-transform: uppercase;
		}

		&.cond {
			font-size: 2em;
			line-height: 1;
		}

	}
}

@import 'header';
@import 'containers';
@import 'iphone-landscape';