$blue: #3ab6c2;
$yellow: #fec554;
$orange: #d66334;
$green: #bad880;
$light-grey: #d5d5cf;

@mixin border-box {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
     -moz-box-shadow: $top $left $blur $color;
          box-shadow: $top $left $blur $color;
}

@mixin transition($time, $what, $how) {
	-webkit-transition: $time $what $how;
	   -moz-transition: $time $what $how;
	     -o-transition: $time $what $how;
	        transition: $time $what $how;
}

@mixin transform($transformation) {
	-webkit-transform: $transformation;
	   -moz-transform: $transformation;
	     -o-transform: $transformation;
	        transform: $transformation;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}

@mixin proxima {
	font: {
		family: "proxima-nova", sans-serif;
		font-weight: 700;
	}
}

@mixin roboto {
	font: {
		family: 'Roboto', sans-serif;
	}
}

@mixin roboto-cond {
	font: {
		family: 'Roboto Condensed', sans-serif;
	}
}
