@font-face {
	font-family: 'carolina-oaks-icons';
	src:url('carolina-oaks-icons.eot');
	src:url('carolina-oaks-icons.eot?#iefix') format('embedded-opentype'),
		url('carolina-oaks-icons.woff') format('woff'),
		url('carolina-oaks-icons.ttf') format('truetype'),
		url('carolina-oaks-icons.svg#carolina-oaks-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'carolina-oaks-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu2:before {
	content: "\e632";
}
.icon-user:before {
	content: "\e600";
}
.icon-iphone:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-acorn:before {
	content: "\e604";
}
.icon-grid-view:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
